body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 950px) {
  body {
    width: 100vw;
    height: auto;
    grid-template-rows: auto;
  }
}
