@use "../utils/" as utils;

.menu-container {
  background-color: rgba(utils.$black-color, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;

  transform: scale(1);
  transition: transform 300ms ease;
  transform-origin: top right;

  &__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem;
    font-size: 1.5rem;
    padding: 4rem 3rem;
    list-style: none;
    background-color: utils.$white-color;
    font-weight: 700;
  }

  &__list-item {
    cursor: pointer;
  }
}

.menu-container--hide {
  transform: scale(0);
}
